doctype html
html
  head
    title Mommy Help
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/main.css')

  body
    header
      h1 Mommy Help

    .container
      block content
    script(src='/main.js')