extends ../base

block content
  .row.login
    .panel.panel-primary
      .panel-heading Signup
      .panel-body
        form(method='post', action='/submit')
          .input-group
            span.input-group-addon username
            input(name='username').form-control
          .input-group
            span.input-group-addon password
            input(name='password', type='password').form-control
          .input-group
            span.input-group-addon comfirm
            input(name='comfirm', type='password').form-control
          .input-group
            span.input-group-addon email
            input(name='email', type='email').form-control
          button.btn.btn-primary submit
